

#product{
	
	height: 1500px;
	background-color:#FAFAFA;
	h2{
		color:#777777;
		margin-bottom: 15px;

	}
	img{
		width: 100%;
	}
	h4{
		color:#777777;
		font-weight: 700;
	}
}
.h2{
	border-bottom: 2px solid #EEEEEE;
}
.p{
	color:#777777;
}
.sold-out {
    width: 120px !important;
    position: absolute;
    right: 29%;
    top: 25%;
    z-index: 1;
}
.elsen{


	&:hover{
		
	}
}