#profile {
  background: #f7f7f7;
  color: #777;
  font-weight: 300;
  text-shadow: none;
  padding-top: 50px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 16px; }
  #profile .content .col-md-9 {
    background: #fff; }
    #profile .content .col-md-9 .col-md-3 {
      padding: 25px; }
    #profile .content .col-md-9 .col-md-9 {
      padding: 20px; }
      #profile .content .col-md-9 .col-md-9 h2 {
        font-size: 32px;
        color: #777; }
      #profile .content .col-md-9 .col-md-9 i {
        cursor: pointer;
        color: green; }
        #profile .content .col-md-9 .col-md-9 i:hover {
          color: #00a400; }
      #profile .content .col-md-9 .col-md-9 p {
        margin: 0 0 10px;
        color: #858585; }
      #profile .content .col-md-9 .col-md-9 table {
        margin-top: 20px; }
        #profile .content .col-md-9 .col-md-9 table td, #profile .content .col-md-9 .col-md-9 table th {
          vertical-align: top;
          padding: 5px;
          text-align: left; }
    #profile .content .col-md-9 .penting {
      margin-top: 50px; }
      #profile .content .col-md-9 .penting .col-md-6 {
        font-weight: 600; }
        #profile .content .col-md-9 .penting .col-md-6 img {
          width: 120px;
          margin-right: 20px; }
        #profile .content .col-md-9 .penting .col-md-6 h3 {
          margin-bottom: 20px; }
        #profile .content .col-md-9 .penting .col-md-6 a {
          text-decoration: none;
          color: #417630; }
          #profile .content .col-md-9 .penting .col-md-6 a:hover {
            color: #5cb85c; }
        #profile .content .col-md-9 .penting .col-md-6 p {
          font-weight: bold;
          line-height: 30px; }
        #profile .content .col-md-9 .penting .col-md-6 table {
          margin-top: 40px; }
        #profile .content .col-md-9 .penting .col-md-6 table, #profile .content .col-md-9 .penting .col-md-6 td, #profile .content .col-md-9 .penting .col-md-6 tr {
          border-style: none; }
    #profile .content .col-md-9 .seed {
      padding: 15px; }
      #profile .content .col-md-9 .seed .line {
        width: 50%;
        border-top: 3px solid #417630;
        margin-bottom: 40px; }
      #profile .content .col-md-9 .seed .col-md-6 {
        /* &:hover{
        	 margin-bottom: -2px;
        }	border-bottom: 2px solid #417630; 
         */
        font-size: 20px;
        padding: 10px 0 10px 0;
        /* margin-bottom: 60px; */ }
        #profile .content .col-md-9 .seed .col-md-6 a {
          text-decoration: none;
          color: #417630; }
          #profile .content .col-md-9 .seed .col-md-6 a:hover {
            color: #51933c;
            cursor: pointer; }
      #profile .content .col-md-9 .seed img {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px; }
  #profile .content .col-md-3 {
    font-size: 12px;
    padding-left: 30px; }
    #profile .content .col-md-3 li img {
      width: 70px; }
    #profile .content .col-md-3 a {
      text-decoration: none;
      color: #417630;
      font-weight: bold; }
      #profile .content .col-md-3 a:hover {
        color: #4f8f3a; }
    #profile .content .col-md-3 span {
      line-height: 26px; }
    #profile .content .col-md-3 .upcoming {
      display: block;
      position: relative;
      font-size: 16px; }

.change_pro {
  background: #f7f7f7;
  padding: 50px;
  color: #777;
  font-weight: 300;
  text-shadow: none;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 16px; }
  .change_pro .container {
    padding: 30px;
    background: #fff;
    /* 	img{
    	
    	width: 100%;
    	position: relative;
    	z-index:8;
    	&:hover{
    		z-index:8!important;
    	}
    
    } */
    /* 	.caption{
    	position: relative;
    	top:-175px;
    	//background-color: #000;
    	opacity: 0.5;
    	color: #fff;
    	width: 100%;
    	padding: 10px;
    
    	z-index: 12;
    	
    }
     */ }
    .change_pro .container .col-md-3 .photo {
      height: 255px;
      width: 100%;
      overflow: hidden;
      display: block;
      position: relative;
      /* 	border: 5px solid #EEEEEE;
      border: 1px solid gray; */
      transition: all 0.2s ease;
      /* .display-none{
      	top:0px !important;
      } */ }
      .change_pro .container .col-md-3 .photo img {
        position: relative;
        top: 0;
        left: 0;
        border: 0; }
      .change_pro .container .col-md-3 .photo .caption {
        top: 0px;
        position: absolute;
        background: #000;
        color: #fff;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        display: none;
        transition: all 0.2s ease; }
        .change_pro .container .col-md-3 .photo .caption i {
          margin-top: 40%; }
    .change_pro .container .col-md-9 span {
      font-size: 10px; }
    .change_pro .container .col-md-9 h3 {
      /* margin: 50px 0 30px 0;  */
      padding: 40px 0 40px 0; }
    .change_pro .container .col-md-9 input, .change_pro .container .col-md-9 textarea {
      border: 0;
      outline: 0;
      border-bottom: 2px solid #777;
      background: transparent;
      box-shadow: none; }
    .change_pro .container .col-md-9 textarea:focus, .change_pro .container .col-md-9 input:focus {
      border-bottom: 2px solid #5CB85C;
      /* margin-bottom: -2px; */
      box-shadow: none; }

/*# sourceMappingURL=style.css.map */
